.mar-bot-1 {
  margin-bottom: 1rem;
}

.mar-bot-1-5 {
  margin-bottom: 1.5rem;
}

.mar-bot-2 {
  margin-bottom: 2rem;
}

.mar-bot-3 {
  margin-bottom: 3rem;
}

.mar-bot-4 {
  margin-bottom: 4rem;
}

.mar-bot-5 {
  margin-bottom: 5rem;
}

.mar-bot-6 {
  margin-bottom: 6rem;
}

.mar-bot-7 {
  margin-bottom: 7rem;
}

.mar-bot-8 {
  margin-bottom: 8rem;
}

.mar-bot-9 {
  margin-bottom: 9rem;
}

.mar-bot-10 {
  margin-bottom: 10rem;
}
